<cenit-toolbar (menuClick)="main_nav.setSwitchingEnable(!switchSideNav())"></cenit-toolbar>
<mat-sidenav-container class="main-container" hasBackdrop="false" autosize>
  <mat-sidenav #sidenav [mode]="main_nav.switchingEnable() ? 'over' : 'side'" opened>
    <cenit-navigation-main [switchLabelsEnabled]="!fixedSideNav" #main_nav></cenit-navigation-main>
  </mat-sidenav>
  <div [ngClass]="{'switching-main-content': main_nav.switchingEnable()}">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
