<cenit-toolbar (menuClick)="menuClicked()"></cenit-toolbar>
<mat-sidenav-container class="main-container" [hasBackdrop]="mobileQuery.matches" autosize>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches || mainNavigation.switchingEnable() ? 'over' : 'side'" [opened]="!mobileQuery.matches">
    <cenit-navigation-main [switchLabelsEnabled]="!fixedSideNav" (itemSelected)="navItemSelected()"></cenit-navigation-main>
  </mat-sidenav>
  <div [ngClass]="{'switching-main-content': !mobileQuery.matches && mainNavigation.switchingEnable()}">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
