<div class="list-container lazy-loader-container">
  <cenit-lazy-loader type="spinner" #lazy_loader>
    Model not found
  </cenit-lazy-loader>
  <div class="table-container">
    <table mat-table [dataSource]="items">
      <ng-container
        *ngFor="let prop of indexProperties"
        [matColumnDef]="prop.name">
        <th mat-header-cell *matHeaderCellDef>{{prop.name}}</th>
        <td mat-cell *matCellDef="let row">{{row[prop.name]}}</td>
      </ng-container>
      <ng-container matColumnDef="$" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <a mat-button [routerLink]="row['$']" color="primary">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator
    [ngClass]="{hidden: lazy_loader.loading}"
    [hidePageSize]="true"
    [length]="count"
    [pageSize]="pageSize"
    (page)="requestData(true)"
    *ngIf="count > pageSize">

  </mat-paginator>
</div>
