.list-container{
  height: calc(100vh - 194px);
}

.data-container {
  height: calc(100vh - 194px);
}

.table-container {
  position: relative;
  max-height: calc(100vh - 250px);
  overflow: auto;
}

table {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-row:nth-child(odd){
  background-color: #f5f5f5;
}
