<div (mouseenter)="setLabelsVisible(true)" (mouseleave)="setLabelsVisible(false)">
  <mat-accordion displayMode="flat" [multi]="true" [displayMode]="'flat'">
    <mat-expansion-panel
      *ngFor="let item of items">
      <mat-expansion-panel-header>
        <mat-icon class="nav-icon">{{item.icon}}</mat-icon>
        <span [@labels]="showLabels ? 'showing' : 'hiding'">{{item.title}}</span>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <a
          mat-list-item
          *ngFor="let subItem of item.items"
          [routerLink]="subItem.path">
          <mat-icon class="nav-icon">{{subItem.icon}}</mat-icon>
          <span class="nav-label" [@labels]="showLabels ? 'showing' : 'hiding'">{{subItem.title}}</span>
        </a>
      </mat-nav-list>

    </mat-expansion-panel>
  </mat-accordion>
</div>
