<div (mouseenter)="setLabelsVisible(true)" (mouseleave)="setLabelsVisible(false)">
  <mat-accordion displayMode="flat" [multi]="true" [displayMode]="'flat'">
    <mat-expansion-panel
      *ngFor="let item of items">
      <mat-expansion-panel-header>
        <mat-icon class="nav-icon">{{item.icon}}</mat-icon>
        <span [@labels]="showLabels ? 'showing' : 'hiding'">{{item.title}}</span>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <span class="mat-content" *ngFor="let subItem of item.items">
          <mat-icon class="nav-icon">{{subItem.icon}}</mat-icon>
          <a
            mat-list-item
            [routerLink]="subItem.path"
            (click)="itemClicked()">
            <span class="nav-label" [@labels]="showLabels ? 'showing' : 'hiding'">{{subItem.title}}</span>
          </a>
        </span>
      </mat-nav-list>

    </mat-expansion-panel>
  </mat-accordion>
</div>
