<div class="controls-container lazy-loader-container">
  <cenit-lazy-loader type="spinner" [closeOnComplete]="false">
    <div *ngIf="createdPath">
      <a mat-raised-button [routerLink]="createdPath" color="accent">
        <mat-icon>open_in_new</mat-icon>
        Created record
      </a>
      <button mat-raised-button>
        <mat-icon>add</mat-icon>
        Add another
      </button>
    </div>
  </cenit-lazy-loader>
  <div class="form-container">
    <cenit-reactive-form [dataType]="dataType" [data]="data"></cenit-reactive-form>
  </div>
  <div class="controls">
    <button mat-button color="primary" (click)="submit()">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</div>

