<cenit-lazy-loader>
  <div [ngSwitch]="controlType">
    <cenit-enum-control
      [property]="property"
      [fieldControl]="fieldFormControl"
      *ngSwitchCase="'enum'"></cenit-enum-control>

    <cenit-boolean-control
      [property]="property"
      [fieldControl]="fieldFormControl"
      *ngSwitchCase="'boolean'"></cenit-boolean-control>

    <cenit-input-control
      [property]="property"
      [fieldControl]="fieldFormControl"
      *ngSwitchCase="'string'"></cenit-input-control>
  </div>
</cenit-lazy-loader>
