<mat-toolbar>
  <div class="spacer"></div>
  <button mat-icon-button (click)="actionsDrawer.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="data-container" hasBackdrop="false">
  <mat-sidenav #actionsDrawer mode="over" position="end">
    <mat-list>
      <mat-list-item *ngFor="let action of actions; let index=index">
        <button mat-button (click)="selectAction(index)">{{action || 'Index'}}</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <!--<mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="setSelectedIndex($event)">-->
  <div class="header-less-tabs">
    <mat-tab-group [selectedIndex]="currentAction">
      <mat-tab *ngFor="let action of actions">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">{{action}}</mat-icon>
          {{action}}
        </ng-template>
        <div [ngSwitch]="action">
          <cenit-data-index-list [indexContent]="indexContent" *ngSwitchCase="''"></cenit-data-index-list>
          <cenit-data-index-create *ngSwitchCase="'new'"></cenit-data-index-create>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-sidenav-container>
