<mat-toolbar>
  <mat-icon>{{actions[currentIndex].icon}}</mat-icon>
  {{actions[currentIndex].name}}
  <div class="spacer"></div>
  <button mat-icon-button (click)="actionsDrawer.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="data-container" hasBackdrop="false">
  <mat-sidenav #actionsDrawer mode="over" position="end">
    <mat-list>
      <mat-list-item *ngFor="let action of actions; let index=index">
        <button mat-button (click)="selectAction(index)">
          <mat-icon>{{action.icon}}</mat-icon>
          {{action.name}}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="header-less-tabs">
    <mat-tab-group [selectedIndex]="currentIndex">
      <mat-tab *ngFor="let action of actions">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">{{action.icon}}</mat-icon>
          {{action.name}}
        </ng-template>
        <div [ngSwitch]="action.key">
          <cenit-data-index-list [indexContent]="indexContent" *ngSwitchCase="''"></cenit-data-index-list>
          <cenit-data-index-create [indexContent]="indexContent" *ngSwitchCase="'new'"></cenit-data-index-create>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-sidenav-container>
