<mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="setSelectedIndex($event)">
  <mat-tab *ngFor="let content of contents; let index = index">
    <div class="data-viewer">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">{{content['icon']}}</mat-icon>
        {{content.getKey()}}
        <button mat-icon-button color="warn" (click)="removeIndex(index)" *ngIf="index > 0">
          <mat-icon class="tab-icon-close">close</mat-icon>
        </button>
      </ng-template>
      <div [ngSwitch]="content['type']">
        <cenit-data-dashboard *ngSwitchCase="'dashboard'"></cenit-data-dashboard>
        <cenit-data-index [indexContent]="content" *ngSwitchCase="'index'"></cenit-data-index>
        <cenit-data-item [itemContent]="content" *ngSwitchCase="'item'"></cenit-data-item>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
