<div class="lazy">
  <div class="shade-loading" *ngIf="loading; else err_content">
    <mat-spinner *ngIf="type == 'spinner'; else bar"></mat-spinner>
    <ng-template #bar>
      <mat-progress-bar [mode]="passive ? 'determinate' : 'indeterminate'"></mat-progress-bar>
    </ng-template>
    <span>{{status}}</span>
  </div>
  <ng-template #err_content>
    <div *ngIf="errorDescription; else content">
      <mat-icon>bug_report</mat-icon>
      <span>{{errorDescription}}</span>
    </div>
    <ng-template #content>
      <ng-content></ng-content>
    </ng-template>
  </ng-template>
</div>
