<div class="shade-loading" *ngIf="loading || opened" (click)="clicked()">
  <div *ngIf="failed || completed; else spin">
    <div #ref>
      <ng-content></ng-content>
    </div>
    <div *ngIf="ref.childNodes.length == 0">
      <mat-icon *ngIf="failed">bug_report</mat-icon>
      <mat-icon *ngIf="completed">done</mat-icon>
      <span>{{status}}</span>
    </div>
  </div>
  <ng-template #spin>
    <mat-spinner *ngIf="type == 'spinner'; else bar"></mat-spinner>
    <ng-template #bar>
      <mat-progress-bar [mode]="passive ? 'determinate' : 'indeterminate'"></mat-progress-bar>
    </ng-template>
    <mat-card>
      <span>{{status | json}}</span>
    </mat-card>
  </ng-template>
</div>

