<cenit-lazy-loader>
  <div [formGroup]="componentFormArray" class="form-group">
    <h3>{{name}}</h3>
    <button class="btn-primary" (click)="addNewItem()">Add new</button>
    <div *ngFor="let itemControl of itemControls; let idx = index">
      <cenit-reactive-array-item (delete)="handleItemDeleted($event)">
        <div [ngSwitch]="itemsSchema['type']">

          <cenit-reactive-field
            [fieldFormControl]="itemControl.control"
            [property]="itemControl.prop"
            *ngSwitchDefault></cenit-reactive-field>

          <cenit-reactive-form-group
            [property]="itemControl.prop"
            [parentControl]="componentFormArray"
            [componentFormGroup]="itemControl.control"
            *ngSwitchCase="'object'"></cenit-reactive-form-group>

          <cenit-reactive-form-array
            [property]="itemControl.prop"
            [componentFormArray]="itemControl.control"
            *ngSwitchCase="'array'"></cenit-reactive-form-array>
        </div>
      </cenit-reactive-array-item>
    </div>
  </div>
</cenit-lazy-loader>
