<cenit-lazy-loader>
  <div [formGroup]="componentFormGroup" class="form-group">
    <h3>{{title | async }}</h3>
    <fieldset *ngFor="let propControl of propControls">
      <div [ngSwitch]="propControl.type">

        <cenit-reactive-field
          [fieldFormControl]="propControl.control"
          [property]="propControl.prop"
          *ngSwitchDefault></cenit-reactive-field>

        <cenit-reactive-form-group
          [property]="propControl.prop"
          [componentFormGroup]="propControl.control"
          *ngSwitchCase="'object'"></cenit-reactive-form-group>

        <cenit-reactive-form-array
          [property]="propControl.prop"
          [componentFormArray]="propControl.control"
          *ngSwitchCase="'array'"></cenit-reactive-form-array>

        <cenit-reactive-form-ref-one
          [property]="propControl.prop"
          [refControl]="propControl.control"
          *ngSwitchCase="'ref-one'"></cenit-reactive-form-ref-one>
      </div>
    </fieldset>
  </div>
</cenit-lazy-loader>
