<div *ngIf="controls">
  <mat-form-field>
    <input
      matInput
      [placeholder]="title | async"
      readonly
      autocomplete="off"
      [value]="label ? label : null">
    <mat-hint>{{description | async}}</mat-hint>
  </mat-form-field>
  <button mat-button (click)="loadForm()" *ngIf="blank" color="primary">
    <mat-icon>add</mat-icon>
    New
  </button>
  <button mat-icon-button *ngIf="!blank" (click)="hidden = !hidden">
    <mat-icon>{{'arrow_drop_' + (hidden ? 'down' : 'up')}}</mat-icon>
  </button>
  <button mat-icon-button color="warn" *ngIf="!blank" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<div class="form-group lazy-loader-container" [ngClass]="{hidden: hidden}">
  <cenit-lazy-loader [passive]="blank">
  </cenit-lazy-loader>
  <div [formGroup]="componentFormGroup">
    <div *ngFor="let propControl of propControls">
      <div [ngSwitch]="propControl.type">

        <cenit-reactive-field
          [data]="data[propControl.prop.name]"
          [fieldFormControl]="propControl.control"
          [property]="propControl.prop"
          *ngSwitchDefault></cenit-reactive-field>

        <cenit-reactive-form-group
          [data]="data[propControl.prop.name]"
          [property]="propControl.prop"
          [parentControl]="componentFormGroup"
          [componentFormGroup]="propControl.control"
          *ngSwitchCase="'object'"></cenit-reactive-form-group>

        <cenit-reactive-form-array
          [data]="data[propControl.prop.name]"
          [property]="propControl.prop"
          [componentFormArray]="propControl.control"
          *ngSwitchCase="'array'"></cenit-reactive-form-array>

        <cenit-reactive-form-ref-one
          [data]="data[propControl.prop.name]"
          [property]="propControl.prop"
          [refControl]="propControl.control"
          *ngSwitchCase="'ref-one'"></cenit-reactive-form-ref-one>

        <cenit-reactive-form-ref-many
          [data]="data[propControl.prop.name]"
          [property]="propControl.prop"
          [componentFormArray]="propControl.control"
          *ngSwitchCase="'ref-many'"></cenit-reactive-form-ref-many>
      </div>
    </div>
  </div>
</div>
