<div class="controls-container lazy-loader-container">
  <cenit-lazy-loader type="spinner">
    <mat-card *ngIf="data; else not_found">
      {{lazyLoader.status | json}}
    </mat-card>
    <ng-template #not_found>
      <button mat-raised-button (click)="delete()">
        Item not found
      </button>
    </ng-template>
  </cenit-lazy-loader>
  <div class="form-container" *ngIf="dataType && data">
    <cenit-reactive-form [dataType]="dataType" [data]="data"></cenit-reactive-form>
  </div>
  <div class="controls" *ngIf="data">
    <button mat-button color="primary" (click)="update()">
      <mat-icon>update</mat-icon>
      Update
    </button>
    <button mat-button color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>
