.controls-container {
  height: calc(100vh - 130px);
}

.form-container {
  height: calc(100vh - 176px);
  overflow-y: scroll;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.controls {
  padding: 5px;
}
