@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-nav-list .mat-list-item .mat-list-item-content {
  padding: unset !important;
}

.header-less-tabs .mat-tab-group .mat-tab-header {
  display: none;
}

.restore-tabs .mat-tab-group .mat-tab-header {
  display: flex;
}

.lazy-loader-container {
  position: relative;
}

.hidden {
  display: none;
}

.field-control {
  width: 100%;
}
.field-control:hover {
  background: white;
}


.field-controls{
  width: 100%;
  display: inline-flex;
}

.field-controls:hover {
  background: white;
}

.fill-space {
  flex: 1 1 auto;
}
