<mat-grid-list cols="4">
  <mat-grid-tile
    [colspan]="3"
    [rowspan]="1"
    [style.background]="'lightblue'">
    One
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="2"
    [style.background]="'lightgreen'">
    2
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
    [style.background]="'lightpink'">
    2
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="2"
    [rowspan]="1"
    [style.background]="'#DDBDF1'">
    3
  </mat-grid-tile>
</mat-grid-list>
