<button mat-icon-button color="warn" (click)="pickItem(null)" *ngIf="pickedItem">
  <mat-icon>delete</mat-icon>
</button>
<button mat-button [matMenuTriggerFor]="menu" (click)="requestItems()">
  <label>{{pickedItem && pickedItem.label}}</label>
  <mat-icon>arrow_drop_down</mat-icon>
</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false" (closed)="menuClosed()">
    <cenit-lazy-loader #lazyLoader>
      <button
        mat-menu-item
        *ngFor="let item of items"
        (click)="pickItem(item.id)">
        {{item.label}}
      </button>
    </cenit-lazy-loader>
    <input
      *ngIf="showQuery"
      type="text"
      matInput
      placeholder="Tenant name"
      (click)="$event.stopPropagation();"
      (input)="typing()"
      autofocus
      [(ngModel)]="query">
</mat-menu>
